header{
	background-image: url("images/bg.jpeg");
	background-repeat: no-repeat;
}
body{
	box-sizing: border-box;
	font-family:'Open Sans', sans-serif;
	line-height: 40px;
}
a{
	text-decoration: none;
	color: #FFF;
}
li{
	list-style-type: none; 
}
.navlogo{
	width: 150px;
	padding-left: 15%;
	padding-top: 50px;
}
.nav1{
	float: right;
}
.nav1 li{
	display: inline-block;
	padding: 50px 20px 0px 0px;
	color: #444544;
}
.nav1 ul{
	padding-right: 100px;
}

h1{
	color: white;
	text-align: center;
	padding: 0 451px 0 451px;
}

.nav2 ul{
	text-align: center;
	padding:0;
}
.nav2 li{
	display: inline-block;
	padding: 0px 5px;
}
.button1{
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    margin-right: 50px;
}
.button2{
    background-color: #7ec575;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}
header p{
	color: white;
	text-align: center;
	padding: 50px 350px 50px 350px;
}
.boot h2{
	text-align: center;
	margin: 30px;
}
.boot p{
	text-align: center;
	margin: 30px 300px 30px 300px;
	line-height: 30px;
}
.boot img{
	max-width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.section2{
	background-color: #fafafa;
	text-align: center;
	margin-top: 0;
	border: solid 1px silver;

}
.section2 nav{
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}
.section3{

}
.section3 p{
	text-align: center;
	float: right;
	display: inline-block;
	width: 214px;
}
.contact{
	float: left;
	width: 214px;
	text-align: left;
	padding-left:100px;
}

.section4{
	clear: left;
    padding-left: 5%; 
	text-transform: uppercase;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-top: 40px;
	width: auto;
	color: white;
}